{% extends "base.html" %}
{% block content %}
 
 <!-- Page Header Start -->
 <div class="page-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Food Menu</h2>
            </div>
            <div class="col-12">
                <a href="">Home</a>
                <a href="">Menu</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Food Start -->
<div class="food mt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
                <div class="food-item">
                    <i class="flaticon-burger"></i>
                    <h2>Burgers</h2>
                    <p>
                        Lorem ipsum dolor sit amet elit. Phasel nec pretium mi. Curabit facilis ornare velit non
                        vulputa. Aliquam metus tortor auctor quis sem.
                    </p>
                    <a href="menu.html">View Menu</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="food-item">
                    <i class="flaticon-snack"></i>
                    <h2>Snacks</h2>
                    <p>
                        Lorem ipsum dolor sit amet elit. Phasel nec pretium mi. Curabit facilis ornare velit non
                        vulputa. Aliquam metus tortor auctor quis sem.
                    </p>
                    <a href="menu.html">View Menu</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="food-item">
                    <i class="flaticon-cocktail"></i>
                    <h2>Beverages</h2>
                    <p>
                        Lorem ipsum dolor sit amet elit. Phasel nec pretium mi. Curabit facilis ornare velit non
                        vulputa. Aliquam metus tortor auctor quis sem.
                    </p>
                    <a href="menu.html">View Menu</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Food End -->


<!-- Menu Start -->
<div class="menu">
    <div class="container">
        <div class="section-header text-center">
            <p>Food Menu</p>
            <h2>Delicious Food Menu</h2>
        </div>
        <div class="menu-tab">
            <ul class="nav nav-pills justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#burgers">Burgers/Sandwich</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#snacks">Snacks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#beverages">Beverages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#quick-bites">Quick Bites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#biryani">Biryani</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#andekafunda">Ande ka Funda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#combo">Combo Offer</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="burgers" class="container tab-pane active">
                    <div class="row">
                        <div class="col-lg-7 col-md-12">
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/menu-burger.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Classic Aloo Tikki Burger</span> <strong>Rs.39</strong></h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/menu-burger.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Classic Aloo Tikki Cheese Grilled Burger</span> <strong>Rs.59</strong>
                                    </h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/menu-burger.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Hara Bhara Burger</span> <strong>Rs.59</strong></h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/menu-burger.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Hara Bhara Burger Cheese Grill Burger</span> <strong>Rs.69</strong></h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/menu-burger.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Panner Hungama Burger</span> <strong>Rs.79</strong></h3>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-5 d-none d-lg-block">
                            <img src="/static/img/menu-burger-img.jpg" alt="Image">
                        </div>
                    </div>
                </div>
                <div id="snacks" class="container tab-pane fade">
                    <div class="row">
                        <div class="col-lg-7 col-md-12">
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/menu-snack.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Panner Tikki</span> <strong>Rs.149</strong></h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/menu-snack.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Panner Malai Tikka</span> <strong>Rs.159</strong></h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/menu-snack.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Pudhina Paneer Tikka</span> <strong>Rs.159</strong></h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/menu-snack.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Chilli Potato</span> <strong>Rs.49</strong></h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/menu-snack.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>White Sauce Pasta</span> <strong>Rs.119</strong></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 d-none d-lg-block">
                            <img src="/static/img/menu-snack-img.jpg" alt="Image">
                        </div>
                    </div>
                </div>
                <div id="beverages" class="container tab-pane fade">
                    <div class="row">
                        <div class="col-lg-7 col-md-12">
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/menu-beverage.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Tea</span> <strong>Rs.6 Rs.12</strong></h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/menu-beverage.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Lemon Ice Tea</span> <strong>Rs.39</strong></h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/menu-beverage.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Coffee</span> <strong>Rs.25</strong></h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/menu-beverage.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Hot Chocolate</span> <strong>Rs.79</strong></h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/menu-beverage.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Caramel Hot Chocolate</span> <strong>Rs.79</strong></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 d-none d-lg-block">
                            <img src="/static/img/menu-beverage-img.jpg" alt="Image">
                        </div>
                    </div>
                </div>
                <div id="quick-bites" class="container tab-pane fade">
                    <div class="row">
                        <div class="col-lg-7 col-md-12">
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/quick_bites.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>French Fries</span> <strong>Rs.69</strong></h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/quick_bites.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Peri-Peri Fries</span> <strong>Rs.79</strong></h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/quick_bites.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Peri-Peri Cheese Fries</span> <strong>Rs.109</strong></h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/quick_bites.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>BBQ Cheese Fries</span> <strong>Rs.119</strong></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 d-none d-lg-block">
                            <img src="/static/img/quick_bites.jpg" alt="Image">
                        </div>
                    </div>
                </div>
                <div id="biryani" class="container tab-pane fade">
                    <div class="row">
                        <div class="col-lg-7 col-md-12">
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/biryani.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Soya Biryani</span> <strong>Rs.99</strong></h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/biryani.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Soya Paneer Biryani</span> <strong>Rs.129</strong></h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/biryani.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Schezwan Fried Rice</span> <strong>Rs.79</strong></h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/biryani.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Panner Fry Rice</span> <strong>Rs.99</strong></h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/menu-snack.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Vegetable Rice</span> <strong>Rs.69</strong></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 d-none d-lg-block">
                            <img src="/static/img/biryani.jpg" alt="Image">
                        </div>
                    </div>
                </div>
                <div id="andekafunda" class="container tab-pane fade">
                    <div class="row">
                        <div class="col-lg-7 col-md-12">
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/anda.webp" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Egg Bhurji(3egg)</span> <strong>Rs.59</strong></h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/anda.webp" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Omelette(3egg)</span> <strong>Rs.59</strong></h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/anda.webp" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Bread Omelette(3egg)</span> <strong>Rs.69</strong></h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/anda.webp" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Half Fry</span> <strong>Rs.29</strong></h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/anda.webp" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Boiled Egg(3eggs)</span> <strong>Rs.29</strong></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 d-none d-lg-block">
                            <img src="/static/img/anda.webp" alt="Image">
                        </div>
                    </div>
                </div>
                <div id="combo" class="container tab-pane fade">
                    <div class="row">
                        <div class="col-lg-7 col-md-12">
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/combo.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Cold Coffee Frappe + Masala Maggi</span>
                                        <strong>Price(Rs.128)</strong><span>After
                                            Discount-</span><strong>Rs.103</strong></h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/combo.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Cold Coffee Frappe + Masala Maggi</span>
                                        <strong>Price(Rs.128)</strong><span>After
                                            Discount-</span><strong>Rs.103</strong></h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/combo.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Aloo Tikki Cheese + Cold Coffee Frappe</span>
                                        <strong>Price(Rs.138)</strong><span>After
                                            Discount-</span><strong>Rs.111</strong></h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/combo.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>Schez Rice + Hara Bhara Burger + Cold Coffee(2pcs)</span>
                                        <strong>Price(Rs.216)</strong><span>After
                                            Discount-</span><strong>Rs.173</strong></h3>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="/static/img/combo.jpg" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span>White Sauce + Periperi Fries</span>
                                        <strong>Price(Rs.198)</strong><span>After
                                            Discount-</span><strong>Rs.159</strong></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 d-none d-lg-block">
                            <img src="/static/img/combo.jpg" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Menu End -->

{% endblock %}